.App {
    display: flex;
}

.container {
    display: flex;
    background-color: rgb(53, 54, 54);
  }

  .gifList {
    width: 70%;
  }

  .gifSearch {
    width: 30%;
  }

  .sectionTitle{
      color: palevioletred;
  }

  .ulComponent{
    list-style-type: none;
  }